DB_USERNAME=your-db-username
DB_PASSWORD=your-db-password

# MongoDB Atlas URI (Use direct node connection instead of SRV if you experience local Node DNS timeout issues)
MONGODB_URI=mongodb://your-db-username:your-db-password@ac-ddep5uy-shard-00-00.iaegnxz.mongodb.net:27017/nextkey?ssl=true&authSource=admin

PORT=5000
JWT_SECRET=supersecretnextkeyjwtkey987654321
CLIENT_URL=http://localhost:3000
